<app-cabecera></app-cabecera>

<!-- <app-pie></app-pie> -->


    <div class="">
        <router-outlet></router-outlet>
    </div>

<!-- Footer -->
<div  class="cta bg-blue-light">
    <div class="container">
        <div class="row cta-1 cta-features">
            <div class="col text-center blue-1">Satisfaccion 100% <p><sub>Garantizada</sub></p>
            </div>
            <div class="col text-center blue-2">Monitoreos gratis<p><sub>Acercate para realizar una consulta</sub></p>
            </div>
            <div class="col text-center blue-3">Obtene 15% de descuento<p><sub>Reserva una cita</sub></p>
            </div>
            <div class="col text-center blue-4">Atencion 24/7<p><sub>+000 123 456 7888</sub></p>
            </div>
        </div>
    </div>
</div>
<div class="footer-4cln space-md">
    <div class="container">
        <div class="row">
        <div class="footer-4cln-bar mx-auto">
            <span class="phone"><i class="fa fa-phone"></i> 1 (800) 888-8888</span>
            <span class="email"><i class="fa fa-envelope"></i> <a href="mailto:info@email.com">info@email.com</a></span>
            <span class="address">Copyright &copy; Heart Care Center, Inc. 2019</span>
        </div>
    </div>
    </div>
</div>


