<div class="container">
  <div class="row my-5">
      <div class="col-md">
        <h2>Horarios de Ingreso de los Empleados</h2>
      </div>
      <div class="col-md">
        <button mat-raised-button class="mb-2 ml-2 float-right btnExcel" (click)="exportExcel()">Exportar Excel</button>
        <button mat-raised-button class="mb-2 float-right" color="warn" (click)="exportPdf()">Exportar PDF</button>
      </div>
    </div>
    <div #TABLE>
      <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
    </div>

  </div>