.section-head {
    text-align: center; 
}
.section-head img {
    width: 85px;
    height: 10px;
    margin-top: 20px;
    margin-bottom: 20px; 
}
.section-head h1 {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 30px;
    font-family: 'Raleway'; 
}
.section-head p {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
    font-size: 12px;
    width: 50%;
    margin: 0 auto;
    line-height: 20px;
}

/* end basic styling */